@import 'normalize.css';
@import './variables';

#root {
  box-sizing: border-box;
  color: $text-normal;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
