.DS_Store
node_modules
dist
*.local
*.md

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
package-lock.json

# Editor directories and files
.vscode
.idea

# 脚手架自动生成的文件
/src/types/auto-imports.d.ts
/src/types/components.d.ts
